<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - mall</title>
</head>
<body>
<%= require('html-loader!./layout/nav.html')%>
<%= require('html-loader!./layout/header.html')%>
<div class="w">
    <ul class="keywords-list">
        <li class="keywords-item">
            <a class="link" href="">女装</a>
            <a class="link" href="">内衣</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">手机</a>
            <a class="link" href="">数码</a>
            <a class="link" href="">电脑办公</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">男装</a>
            <a class="link" href="">户外运动</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">手机</a>
            <a class="link" href="">数码</a>
            <a class="link" href="">电脑办公</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">女鞋</a>
            <a class="link" href="">男鞋</a>
            <a class="link" href="">箱包</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">美妆</a>
            <a class="link" href="">个人护理</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">腕表</a>
            <a class="link" href="">眼镜</a>
            <a class="link" href="">珠宝饰品</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">母婴</a>
            <a class="link" href="">玩具</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">零食</a>
            <a class="link" href="">茶酒</a>
            <a class="link" href="">进口食品</a>
        </li>
        <li class="keywords-item">
            <a class="link" href="">生鲜水果</a>
        </li>
    </ul>
    <div class="banner-con">
        <div class="loading"></div>
    </div>
</div>

<div class="w">
    <div class="floor-warp">
        <div id="floor1">
            <a class="loading"></a>
        </div>
        <div id="floor2">
            <a class="loading"></a>
        </div>
    </div>
</div>

<%= require('html-loader!./layout/footer.html') %>
</body>
</html>