<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="http://www.google.com" target="_blank">google</a> |
            <a class="link" href="http://www.github.com" target="_blank">github</a> |
        </div>
        <p class="copyright">
            Copyright © 2017 gandazhi All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
